name: CI Pipeline - Static Web App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Validate HTML File
        run: |
          if [ -f index.html ]; then
            echo "index.html found"
          else
            echo "index.html NOT found"
            exit 1
          fi

      - name: Build Success
        run: echo "Build Successful"
